.floatingbackground{
    background-color: blue;
}
.floatingbackground table{
    width: 100%;
    height: 10vh;
    border-collapse: collapse;
    border-spacing: 0;
  }
 .floatingbackground table, th, td {
    border:1px solid white;
    color: gold;
    font-size: 10px;
    text-align: left;
    padding: 5px;
  }